<ion-content [fullscreen]="true">
  <ion-slides style='height: 100vh !important; width: 100%;'>
    <ion-slide>
      <img src="assets/images/onboarding-1.jpeg" style='height: 100%; width: 100%; object-fit: fill'/>
    </ion-slide>
    <ion-slide>
        <img src="assets/images/onboarding-2.jpeg" style='height: 100%; width: 100%; object-fit: fill'/>
    </ion-slide>
    <ion-slide (click)="start()">
        <img src="assets/images/onboarding-3.jpeg" style='height: 100%; width: 100%; object-fit: fill'/>
    </ion-slide>
  </ion-slides>
</ion-content>
