<ion-card
  [routerLink]="['/product/detail', product?.product_id]"
  class="ion-no-border link"
  style="margin-left: 0px; margin-right: 0px"
  [ngClass]="{ disabled: product?.stock <= 0 }"
>
  <ion-card-header class="ion-no-padding link">
    <img
      [src]="product?.image_url"
      class="product-img full-width"
      *ngIf="product?.image_url"
      onerror="this.onerror=null;this.src='assets/images/placeholder-product.svg'"
    />
    <img src="assets/images/placeholder-product.svg" class="product-img full-width" *ngIf="!product?.image_url" />
  </ion-card-header>

  <ion-card-content class="ion-no-padding ion-text-left">
    <!-- <ion-row class="ion-align-self-center">
      <ion-col size="12" class="product-brand truncate">
        {{ product?.brand?.name || '&nbsp;' }}
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col *ngIf="product?.product_tag?.name !== null">
        <span class="tag-background" [style]="productTagBg">
          <ion-icon name="pricetag" class="tag-text" [ngStyle]="{ color: product?.product_tag?.color }"></ion-icon>
          <ion-text class="tag-text" [ngStyle]="{ color: product?.product_tag?.color }">
            {{ product?.product_tag?.name }}
          </ion-text>
        </span>
      </ion-col>
      <ion-col *ngIf="product?.product_tag?.name == null"> &nbsp; </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="height-ellipsis">
        <ion-text class="product-name">{{ product?.name | titlecase }} </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10">
        <p class="product-size">Size: {{ product?.weight }} {{ product?.unit?.name }}</p>
      </ion-col>
      <ion-col size="2" class="ion-text-right">
        <ion-icon
          src="assets/images/add-favorite.svg"
          color="primary"
          (click)="addToFavorite(product?.product_id); $event.preventDefault(); $event.stopPropagation()"
        >
        </ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [style.visibility]="product?.secondary_price ? 'unset' : 'hidden'">
        <ion-badge class="product-discount"
          >{{
            ((+product?.secondary_price - +product?.primary_price) / +product?.secondary_price) * 100 | number: '1.0-0'
          }}
          %
        </ion-badge>
        <span class="product-price price-linethrough"> Rp {{ product?.secondary_price | number: '1.0-0' }} </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <span class="product-final-price">Rp {{ product?.primary_price | number: '1.0-0':'id' }} </span>
      </ion-col>
    </ion-row>
  </ion-card-content>
  <div class="out-of-stock" *ngIf="product?.stock == 0">Out of stock</div>
</ion-card>
