.product-img {
  width: 200px;
  height: 80px;
  object-fit: fill;
}

.product-name {
  font-size: 12px;
  font-weight: bold;
}

.product-size {
  font-size: 8px;
  color: lightgray;
  width: 95px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 10px;
  width: 95px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 10px;
}

.price-linethrough {
  text-decoration: line-through;
}

.product-final-price {
  font-size: 10px;
  font-weight: bold;
  width: 95px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
