ion-header.voucher-header {
  border-bottom: none !important;
}

.voucher-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--ion-color-primary);
}

.voucher-message {
  font-size: 12px;
  color: #707070;
}
