.store-title {
  font-size: 14px;
  font-weight: bold;
  color: #353535;
}

.store-text {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 600;
}

.store-distance {
  font-size: 12px;
  font-weight: 600;
}
