<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md">
      <ion-back-button icon="chevron-back" defaultHref="/login/form"></ion-back-button>
      <ion-title>{{ 'ENTER_OTP' | translate }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-padding-top">
    <ion-row class="ion-padding-horizontal">
      <ion-col size="12">
        <ion-text class="font-md">{{ 'VERIFY_OTP_INTRO' | translate }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <form (ngSubmit)="verifyOtp()" #requestOTPForm="ngForm" [formGroup]="fg">
          <ion-item lines="none" class="ion-padding-horizontal">
            <ion-col *ngFor="let input of formInput; index as i" class="ion-padding-horizontal">
              <ion-input
                class="otp-theme"
                #formRow
                formControlName="{{ input }}"
                maxlength="1"
                (keyup)="keyUpEvent($event, i)"
                required
              ></ion-input>
            </ion-col>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row class="ion-padding-bottom">
    <ion-col class="ion-padding">
      <ion-button expand="full" (click)="requestOTPForm.ngSubmit.emit()"> {{ 'VERIFY' | translate }}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
