.thumb-notif {
  display: block;
  margin: auto;
  width: 35px;
  height: 35px;
}

.notif-title {
  font-size: 14px;
  font-weight: bold;
}

.notif-desc {
  font-size: 14px;
}

.notif-time {
  font-size: 12px;
  color: gray;
}
