<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title> {{ 'NOTIFICATION' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row
      *ngFor="let item of [1, 2, 3, 4, 5]"
      class="ion-padding-bottom link"
      [routerLink]="['/tabs', 'notification', item, 'detail']"
    >
      <ion-col size="3" class="ion-align-self-center">
        <ion-thumbnail class="thumb-notif">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="9">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <ion-text class="notif-title"> Grocery shopping save IDR 120k off!</ion-text>
          </ion-col>
          <ion-col size="12" class="ion-no-padding truncate">
            <ion-text class="notif-desc"> Everything 20% off! Save up to 120k by shopping with us </ion-text>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
            <ion-text class="notif-time"> {{ currentDate | date: 'medium' }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
