<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md" class="title" (click)="dismiss()">
      <!-- <ion-back-button icon="chevron-back"></ion-back-button> -->
      <ion-button>
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'NOTIFICATION' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment color="primary" (ionChange)="segmentChanged($event)" [value]="segmentValue">
    <ion-segment-button value="inbox">
      <ion-label>{{ 'INBOX' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="notification">
      <ion-label>{{ 'ACTIVITY' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-slides class="slide-order" #slider (ionSlideWillChange)="slideChanged()">
    <ion-slide>
      <ion-content>
        <ion-grid>
          <ion-row
            *ngFor="let inbox of inboxList"
            class="ion-padding-bottom link ion-text-left"
            (click)="openDetail(inbox)">
            <ion-col size="2" class="ion-align-self-center">
              <ion-thumbnail class="thumb-notif">
                <img src="assets/images/inbox-logo.svg" />
              </ion-thumbnail>
            </ion-col>
            <ion-col size="10">
              <ion-row>
                <ion-col size="12" class="ion-no-padding">
                  <ion-text class="notif-title">{{inbox?.subject}}</ion-text>
                </ion-col>
                <ion-col size="12" class="ion-no-padding truncate">
                  <ion-text class="notif-desc">{{inbox?.message}}</ion-text>
                </ion-col>
                <ion-col size="12" class="ion-no-padding">
                  <ion-text class="notif-time"> {{ inbox?.notification_created_at | date: 'medium' }}</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content>
        <ion-grid>
          <ion-row
            *ngFor="let notif of notificationList"
            class="ion-padding-bottom link ion-text-left">
            <ion-col size="2" class="ion-align-self-center">
              <ion-thumbnail class="thumb-notif">
                <img src="assets/images/notif-logo.svg" />
              </ion-thumbnail>
            </ion-col>
            <ion-col size="10">
              <ion-row>
                <ion-col size="12" class="ion-no-padding">
                  <ion-text class="notif-title">{{notif?.subject}}</ion-text>
                </ion-col>
                <ion-col size="12" class="ion-no-padding">
                  <ion-text class="notif-desc" [innerHTML]="notif?.message"></ion-text>
                </ion-col>
                <ion-col size="12" class="ion-no-padding">
                  <ion-text class="notif-time"> {{ notif?.notification_created_at | date: 'medium' }}</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>
