<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons mode="md">
      <ion-back-button defaultHref="/tabs/home" icon="chevron-back-outline"> </ion-back-button>
      <ion-title class="header-title">{{ title }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size="3" *ngFor="let item of brands">
        <app-card-brand [brand]="item"></app-card-brand>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-content>
