<ion-row class="ion-padding">
  <ion-col size="8" class="ion-padding-bottom-small">
    <ion-text class="section-title">{{ bundling.name }}</ion-text>
  </ion-col>
  <ion-col size="4" class="ion-text-right">
    <ion-text class="section-see-all link" [routerLink]="['/bundling', bundling?.bundling_id, 'detail']">
      {{ 'SEE_ALL' | translate }}
    </ion-text>
  </ion-col>
  <ion-col size="12">
    <ion-text class="section-desc">{{ bundling?.description }}</ion-text>
  </ion-col>
</ion-row>
<ion-row class="ion-no-padding" *ngIf="bundling.image_url">
  <ion-col class="ion-no-padding">
    <img
      class="img-banner"
      [src]="bundling.image_url"
      onerror="this.onerror=null;this.src='assets/images/placeholder-banner.png'"
    />
  </ion-col>
</ion-row>
<ion-row [ngClass]="{ 'ion-padding-top': bundling.image_url }">
  <ion-col>
    <app-slide-product [products]="bundling.products"></app-slide-product>
  </ion-col>
</ion-row>

<div class="divider"></div>
