<ion-row class="ion-padding ion-no-padding-bottom">
  <ion-col size="8">
    <ion-text class="section-title">{{ 'FEATURED_BRAND' | translate }}</ion-text>
  </ion-col>
  <ion-col size="4" class="ion-text-right">
    <ion-text class="section-see-all link" [routerLink]="['/brand', 'list', 'featured']">
      {{ 'SEE_ALL' | translate }}
    </ion-text>
  </ion-col>
  <ion-col size="12">
    <ion-text class="section-desc">{{ 'FEATURED_BRAND_DESC' | translate }}</ion-text>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <app-slide-brand [brands]="brands"></app-slide-brand>
  </ion-col>
</ion-row>
