.cat-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
  float: right;
}

.cat-name {
  font-size: 12px;
  font-weight: 600;
}

.cat-content {
  padding: 12px;
}

.height-ellipsis {
  height: 42px;
  color: var(--ion-color-success);
}
