<ion-row>
  <ion-col class="ion-text-center" (click)="goToProductByCategory(category?.category_id)">
    <ion-row>
      <ion-col size="12">
        <img
          [src]="category?.icon_url"
          class="cat-icon rounded"
          *ngIf="category?.icon_url"
          onerror="this.onerror=null;this.src='assets/images/placeholder-product.svg'"
        />
        <img src="assets/images/placeholder-product.svg" class="cat-icon rounded" *ngIf="!category?.icon_url" />
      </ion-col>
      <ion-col size="12">
        <ion-text class="category-name">{{ category?.name }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
