<ion-row class="ion-padding ion-no-padding-bottom">
  <ion-col size="8">
    <ion-text class="section-title">{{ 'KLIKGO_ARTICLE' | translate }}</ion-text>
  </ion-col>
  <ion-col size="4" class="ion-text-right">
    <ion-text class="section-see-all">{{ 'SEE_ALL' | translate }}</ion-text>
  </ion-col>
  <ion-col size="12" class="ion-padding-top">
    <ion-text class="section-desc">{{ 'KLIKGO_ARTICLE_DESC' | translate }}</ion-text>
  </ion-col>
</ion-row>
<ion-row class="ion-padding-horizontal">
  <ion-col size="12" *ngFor="let item of [1, 2, 3]">
    <app-card-article></app-card-article>
  </ion-col>
</ion-row>
