<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/tabs/home"> </ion-back-button>
      <ion-title>{{ title }}</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search" class="header-action-size"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="funnel" slot="start" class="header-action-size"></ion-icon>
        <ion-text class="header-action-size"> Sort by </ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <app-slide-promo [banners]="banners"></app-slide-promo>
      </ion-col>
    </ion-row>
    <ion-row class="padding-product">
      <ion-col size="4" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]">
        <app-card-product></app-card-product>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
