<ion-header class="ion-no-border">
  <ion-toolbar *ngIf="search">
    <div (click)="searchProduct()" class="ion-padding-start">
      <ion-searchbar class="custom-search" mode="ios" disabled [value]="search"></ion-searchbar>
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="funnel" slot="start" class="header-action-size"></ion-icon>
        <ion-text class="header-action-size"> {{ 'SORT' | translate }} </ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!search">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/tabs/home"> </ion-back-button>
      <ion-title class="header-title">{{ title }}</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="searchProduct()">
        <ion-icon name="search" class="header-action-size"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="funnel" slot="start" class="header-action-size"></ion-icon>
        <ion-text class="header-action-size"> Sort by </ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding" *ngIf="!search && category">
      <ion-col class="ion-no-padding">
        <img [src]="category?.image_url" class="full-width img-header" />
      </ion-col>
    </ion-row>
    <ion-row class="padding-product" *ngIf="products && products.length">
      <ion-col size="4" *ngFor="let item of products">
        <app-card-product [product]="item"></app-card-product>
      </ion-col>
    </ion-row>

    <ion-row class="padding-product" *ngIf="!products || (products && !products.length)">
      <ion-col class="ion-text-center"> Data Not Found </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
