<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons mode="md" class="ion-text-center">
      <ion-back-button [defaultHref]="previousUrl" icon="chevron-back-outline" (click)="goBack()"> </ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'MY_ORDER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)" pullFactor="1.2" pullMin="20" pullMax="80">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment color="primary" (ionChange)="segmentChanged($event)" [value]="segmentValue">
    <ion-segment-button value="ongoing">
      <ion-label>{{ 'ON_GOING' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="history">
      <ion-label>{{ 'HISTORY' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-slides class="slide-order" #slider (ionSlideWillChange)="slideChanged()">
    <ion-slide>
      <ion-content>
        <ion-grid>
          <ion-row *ngFor="let order of orders">
            <ion-col>
              <app-card-order [order]="order"></app-card-order>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content>
        <ion-grid>
          <ion-row *ngFor="let order of completedOrders">
            <ion-col>
              <app-card-order [order]="order"></app-card-order>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>
