<ion-row class="ion-padding">
  <ion-col size="8">
    <ion-text class="section-title">{{ 'FRESH_GROCERIES' | translate }}</ion-text>
  </ion-col>
  <ion-col size="4" class="ion-text-right">
    <ion-text class="section-see-all">{{ 'SEE_ALL' | translate }}</ion-text>
  </ion-col>
  <ion-col size="12" class="ion-padding-top">
    <ion-text class="section-desc">{{ 'FRESH_GROCERIES_DESC' | translate }}</ion-text>
  </ion-col>
</ion-row>
<ion-row class="ion-no-padding">
  <ion-col class="ion-no-padding">
    <app-slide-promo [banners]="banners"></app-slide-promo>
  </ion-col>
</ion-row>
<ion-row class="ion-padding-top">
  <ion-col>
    <app-slide-product></app-slide-product>
  </ion-col>
</ion-row>
