.update-title {
  color: var(--ion-color-primary);
  font-size: 14px;
  font-weight: 600;
}

.update-message {
  font-size: 12px;
  color: #707070;
}

.padding-message {
  padding-left: 25px;
  padding-right: 25px;
}
