<ng-container *ngFor="let address of addressList; let i = index">
  <ion-card class="ion-border ion-no-margin ion-margin-bottom" (click)="onAddressClick(address?.address_id)">
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <span
            ><b>{{ address?.address_name }}</b></span
          >
          <br />
          <span>{{ address?.address }}</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <span
            ><b>{{ 'ADDRESS_DETAIL' | translate }}</b></span
          >
          <br />
          <small>{{ address?.address_detail ? address?.address_detail : '-' }}</small>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="showButton">
        <ion-col size="12">
          <ion-button expand="block" [disabled]="address?.selected" (click)="onUseAddress(i, $event)">
            {{ address?.selected ? ('SELECTED' | translate) : ('USE_ADDRESS' | translate) }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ng-container>
