<ion-card class="ion-no-border link" style="margin-left: 0px; margin-right: 0px">
  <ion-card-header class="ion-no-padding link">
    <ion-thumbnail class="product-thuion-thumbnail full-width" style="width: 100%">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-thumbnail>
  </ion-card-header>

  <ion-card-content class="ion-no-padding ion-text-left">
    <ion-row>
      <ion-col>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="height-ellipsis">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <span class="product-final-price"> <ion-skeleton-text animated></ion-skeleton-text> </span>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
