<ion-row>
  <ion-col>
    <img src="assets/images/empty-cart2.svg" />
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <div class="text-empty-title ion-margin-vertical">Start adding things to your cart!</div>
    <ion-text class="text-empty-desc">
      You're cart is still empty. Start shopping and add things to your cart!
    </ion-text>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button fill="outline" color="primary" routerLink="/product/search">
      <strong> Start Shopping </strong>
    </ion-button>
  </ion-col>
</ion-row>
