<ion-row class="ion-padding-vertical ion-align-items-center" *ngIf="recentSearches && recentSearches.length">
  <ion-col size="7" class="ion-padding-start padding-category" style="padding-top: 0px">
    <ion-text class="search-title"> {{ 'RECENT_SEARCHES' | translate }}</ion-text>
  </ion-col>
  <ion-col size="5" class="ion-padding-end ion-text-right">
    <ion-text class="clear-recent-search" (click)="removeAllRecent()">{{ 'CLEAR_RECENT' | translate }}</ion-text>
  </ion-col>
  <ion-col size="12">
    <ion-row *ngFor="let item of recentSearches | slice: 0:3; let i = index" class="padding-item-recent">
      <ion-col size="1" class="ion-padding-start">
        <ion-icon name="time-outline" color="medium" class="icon-recent-search"></ion-icon>
      </ion-col>
      <ion-col size="9">
        <ion-label color="limegreen" class="text-recent-search" (click)="setKeyword(item)"> {{ item }}</ion-label>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-icon name="close-outline" class="icon-recent-search" (click)="removeItem(i)"></ion-icon
      ></ion-col>
    </ion-row>
  </ion-col>
</ion-row>
<ion-row class="ion-padding-bottom" *ngIf="categories && categories.length">
  <ion-col size="12" class="ion-padding-horizontal">
    <ion-text class="search-title"> {{ 'SEARCH_BY_CATEGORY' | translate }}</ion-text>
  </ion-col>
  <ion-col size="12" class="padding-category">
    <ion-chip
      style="border: 1px solid #99cc33; background: white"
      *ngFor="let item of categories"
      (click)="goToProductByCategory(item?.category_id)"
    >
      <ion-label color="limegreen">{{ item?.name }}</ion-label>
    </ion-chip>
  </ion-col>
</ion-row>

<ion-row class="ion-padding-bottom" *ngIf="products && products.length">
  <ion-col size="12" class="ion-padding-horizontal">
    <ion-text class="search-title"> {{ 'POPULAR_SEARCHES' | translate }}</ion-text>
  </ion-col>
  <ion-col size="12">
    <app-slide-product [products]="products"></app-slide-product>
  </ion-col>
</ion-row>

<ion-row *ngIf="brands && brands.length">
  <ion-col size="12" class="ion-padding-horizontal">
    <ion-text class="search-title"> {{ 'FEATURED_BRAND' | translate }}</ion-text>
  </ion-col>
  <ion-col size="12">
    <app-slide-brand [brands]="brands"></app-slide-brand>
  </ion-col>
</ion-row>
