<ion-row class="ion-padding-vertical">
  <ion-col size="7" class="ion-padding-start">
    <ion-text class="search-title"> {{ 'RECENT_SEARCHES' | translate }}</ion-text>
  </ion-col>
  <ion-col size="5" class="ion-padding-end ion-text-right">
    <ion-text class="clear-recent-search">{{ 'CLEAR_RECENT' | translate }}</ion-text>
  </ion-col>
  <ion-col size="12">
    <ion-row *ngFor="let item of [1, 2, 3]" class="padding-item-recent">
      <ion-col size="1" class="ion-padding-start">
        <ion-icon name="time-outline" class="icon-recent-search"></ion-icon>
      </ion-col>
      <ion-col size="9">
        <ion-label class="text-recent-search"> Hand Sanitizer</ion-label>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-icon name="close-outline" class="icon-recent-search"></ion-icon
      ></ion-col>
    </ion-row>
  </ion-col>
</ion-row>
<ion-row class="ion-padding-bottom">
  <ion-col size="12" class="ion-padding-horizontal">
    <ion-text class="search-title"> {{ 'SEARCH_BY_CATEGORY' | translate }}</ion-text>
  </ion-col>
  <ion-col size="12" class="padding-category">
    <ion-chip color="medium" outline="true" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
      <ion-label color="dark">Fruit</ion-label>
    </ion-chip>
  </ion-col>
</ion-row>

<ion-row class="ion-padding-bottom">
  <ion-col size="12" class="ion-padding-horizontal">
    <ion-text class="search-title"> {{ 'POPULAR_SEARCHES' | translate }}</ion-text>
  </ion-col>
  <ion-col size="12">
    <app-slide-product></app-slide-product>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12" class="ion-padding-horizontal">
    <ion-text class="search-title"> {{ 'FEATURED_BRAND' | translate }}</ion-text>
  </ion-col>
  <ion-col size="12">
    <app-slide-brand></app-slide-brand>
  </ion-col>
</ion-row>
