<ion-content>
  <form (ngSubmit)="saveFavorite()" #favoriteForm="ngForm" [formGroup]="fg">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding-horizontal ion-padding-top"
          ><ion-text class="modal-title">{{ 'NEW_LIST' | translate }}</ion-text>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-icon name="close" color="light" (click)="dismiss()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-horizontal">
          <ion-item class="ion-no-padding ion-no-margin" mode="ios">
            <ion-label position="floating"> {{ 'LIST_NAME' | translate }}</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <ion-text *ngIf="fg.controls.name.dirty" color="danger">
            <small> {{ fg.controls.name.errors?.required?.message }}</small>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-horizontal ion-padding-top ion-text-right">
          <ion-text class="favorite-action" color="primary" (click)="favoriteForm.ngSubmit.emit()">
            {{ 'ADD_LIST' | translate }}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
