<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons mode="md" class="ion-text-center">
      <ion-back-button [defaultHref]="redirectBackUrl" icon="chevron-back-outline"> </ion-back-button>
    </ion-buttons>
    <ion-title>{{ voucher?.voucher_code }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding voucher-header">
        <img src="https://via.placeholder.com/200.png" class="full-width img-header" *ngIf="!voucher?.image_url" />
        <img [src]="voucher?.image_url" class="full-width img-header" *ngIf="voucher?.image_url" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding voucher-background" *ngIf="voucherType == 'redeem'">
      <ion-col size="6">
        <ion-text class="voucher-label">
          {{ 'VOUCHER_CODE' | translate }}
        </ion-text>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-text class="voucher-value">
          {{ voucher?.voucher_code }}
        </ion-text></ion-col
      >
    </ion-row>
    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-col size="3">
        <ion-text class="validity-label">
          {{ 'VALIDITY' | translate }}
        </ion-text>
      </ion-col>
      <ion-col size="9" class="ion-text-right">
        <ion-text class="validity-value">
          {{ voucher?.start_date | date: 'longDate' }} to {{ voucher?.end_date | date: 'longDate' }}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-col size="12">
        <p class="description-label">{{ 'DESCRIPTION' | translate }}</p>
        <small class="description-value" [innerHTML]="voucher?.description"></small>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row class="ion-padding">
    <ion-col class="ion-text-center" *ngIf="voucherType == 'redeem'">
      <ion-text class="btn-use-voucher" (click)="useVoucher()">
        {{ 'USE_VOUCHER' | translate }}
      </ion-text>
    </ion-col>
    <ion-col class="ion-text-center" *ngIf="voucherType == 'buy'">
      <ion-button expand="block" color="limegreen" (click)="presentConfirmModal()" [disabled]="isOnFetch">
        {{ 'BUY_VOUCHER' | translate }} <ion-spinner *ngIf="isOnFetch" name="dots" color="dark"></ion-spinner>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
