.img-header {
  height: 100%;
  object-fit: cover;
}

.btn-use-voucher {
  color: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);
  padding: 4px 12px;
  border-radius: 13px;
  margin: 14px 14px;
  font-size: 14px;
  font-weight: bold;
}

.voucher {
  &-header {
    height: 203px;
  }
  &-background {
    background: #ffcc00;
  }
  &-label {
    font-size: 12px;
    color: #454545;
  }
  &-value {
    font-size: 14px;
    font-weight: 600;
    color: #454545;
  }
}

.validity {
  &-label {
    font-size: 12px;
    color: #454545;
  }
  &-value {
    font-size: 10px;
    color: #454545;
  }
}

.description {
  &-label {
    font-size: 12px;
    color: #454545;
  }
  &-value {
    font-size: 10px;
    color: #000000;
  }
}
