<ng-container *ngFor="let cart of cartData; let i = index">
  <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-vertical">
    <ion-col size="2" class="grayed-out">
      <img
        [src]="cart?.product?.image_url || cart?.image_url"
        alt="product_image"
        *ngIf="cart?.product?.image_url || cart?.image_url"
        onerror="this.onerror=null;this.src='assets/images/placeholder-product.svg'"
      />

      <img
        src="assets/images/placeholder-product.svg"
        class="product-img full-width"
        *ngIf="!cart?.product?.image_url && !cart?.image_url"
      />
    </ion-col>
    <ion-col size="10" class="ion-padding-start">
      <ion-row class="grayed-out">
        <ion-col size="12" class="ion-no-padding">
          <span class="product-name"
            ><b>{{ cart?.product?.name || cart?.name | titlecase }}</b></span
          >
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center ion-padding-top">
        <ion-col class="ion-no-padding grayed-out">
          <div class="product-price">
            {{ cart?.product?.secondary_price || cart?.secondary_price | currency: 'Rp. ' }}
          </div>
          <span class="product-final-price">
            Rp. {{ cart?.product?.primary_price || cart?.primary_price | number }}
          </span>
        </ion-col>
        <ion-col size="4" class="ion-no-padding ion-text-center">
          <ion-row class="ion-align-items-center" *ngIf="cart?.product?.stock > 0">
            <ion-col size="4">
              <ion-icon
                name="remove-circle-outline"
                size="small"
                appDebounce
                (debounceClick)="updateQuantity(i)"
                (click)="updateLocalQuantity(i, false)"
              ></ion-icon>
            </ion-col>
            <ion-col size="4">{{ cart?.quantity }}</ion-col>
            <ion-col size="4">
              <ion-icon
                name="add-circle-outline"
                size="small"
                [color]="compareQuantityWithStock(+cart?.quantity, +cart?.product?.stock) ? 'black' : 'medium'"
                appDebounce
                (debounceClick)="updateQuantity(i)"
                (click)="updateLocalQuantity(i, true)"
              ></ion-icon>
            </ion-col>
            <ion-col size="12">
              <small class="text-unprocessable">({{ 'STOCK' | translate }} < {{ cart?.product?.stock + 1 }})</small>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="cart?.product?.stock === 0">
            <ion-col size="12">
              <ion-icon name="trash-outline" color="danger" (click)="showAlertRemoveItem(cart?.cart_id)"></ion-icon>
            </ion-col>
            <ion-col size="12">
              <small>({{ 'OUT_OF_STOCK' | translate }})</small>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ng-container>
