<ion-header class="ion-no-border ion-margin-top product-detail-upper">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" slot="icon-only" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="{{ 'SEARCH' | translate }}" [routerLink]="['/product/search']"></ion-searchbar>
  </ion-toolbar>
  <ion-row>
    <ion-col size="12" class="ion-no-padding ion-text-center">
      <img class="img-product" [src]="productData?.image_url" />
    </ion-col>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding-top ion-padding-horizontal h-100">
    <ion-row class="ion-justify-content-between">
      <ion-col size="12">
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="11" class="ion-no-padding">
            <ion-text *ngIf="productData?.secondary_price">
              <small class="strike-through">Rp. {{ productData?.secondary_price | number }}</small
              ><br />
            </ion-text>
            <ion-text color="secondary">
              <b>Rp. {{ productData?.primary_price | number }}</b>
            </ion-text>
          </ion-col>
          <ion-col size="1" class="ion-no-padding ion-text-right">
            <ion-icon name="list-outline" (click)="addToFavorite()"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <span
              ><b>{{ productData?.name }}</b></span
            >
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="6" class="ion-no-padding">
            <div>
              <ion-text *ngIf="productData?.brand">
                <small>{{ productData?.brand?.name }}</small>
                <br />
              </ion-text>
              <small>{{ 'SIZE' | translate }}: {{ productData?.weight }}</small>
            </div>
          </ion-col>
          <ion-col size="6" class="ion-no-padding ion-text-right">
            <ion-button color="primary" size="small" shape="round" (click)="addItemToCart()">
              {{ 'ADD_TO_CART' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between">
      <ion-col size="12">
        <h5>{{ 'DESCRIPTION' | translate }}</h5>
        <p [innerHTML]="productData?.description"></p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h5>{{ 'RELATED_PRODUCT' | translate }}</h5>
      </ion-col>
      <ion-col size="12">
        <app-slide-product [products]="products"></app-slide-product>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
