<ion-header [translucent]="true" class="ion-no-border ion-margin-top">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" slot="icon-only" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-searchbar class="custom-search" placeholder="{{ 'SEARCH' | translate }}" [routerLink]="['/product/search']"></ion-searchbar> -->
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size="12">
        <ion-searchbar
          class="custom-search"
          mode="ios"
          placeholder="{{ 'SEARCH' | translate }}"
          [routerLink]="['/product/search']"
        ></ion-searchbar>
        <div
          class="ion-no-padding ion-align-self-center ion-text-center scan-icon-container"
          (click)="scanQR(); $event.stopPropagation()"
        >
          <img src="assets/images/scan.svg" class="scan-icon" />
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top ion-no-padding h-100">
    <ion-row [ngClass]="{ disabled: productData?.stock == 0 }">
      <ion-col size="12" class="ion-no-padding ion-text-center">
        <img src="assets/images/placeholder-product.svg" class="img-product" *ngIf="!productData?.image_url" />
        <img
          class="img-product"
          [src]="productData?.image_url"
          onerror="this.onerror=null;this.src='assets/images/placeholder-product.svg'"
          *ngIf="productData?.image_url"
        />
      </ion-col>
      <div class="out-of-stock" *ngIf="productData?.stock == 0">Out of stock</div>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-padding-horizontal">
      <ion-col size="12">
        <ion-row class="ion-padding-vertical" *ngIf="productData?.product_tag?.name !== null">
          <ion-col>
            <span class="tag-background" [style]="productTagBg">
              <ion-icon
                name="pricetag"
                class="tag-text"
                [ngStyle]="{ color: productData?.product_tag?.color }"
              ></ion-icon>
              <ion-text class="tag-text" [ngStyle]="{ color: productData?.product_tag?.color }">
                {{ productData?.product_tag?.name }}
              </ion-text>
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <span class="product-name">
              {{ productData?.name | titlecase }}
            </span>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="6" class="ion-no-padding">
            <ion-text class="product-brand" *ngIf="productData?.brand">
              {{ productData?.brand?.name }}
              <br />
            </ion-text>
            <span class="product-size">Size: {{ productData?.weight }} {{ productData?.unit?.name }}</span>
            <br />
            <ion-text class="product-out-of-stock" *ngIf="productData?.stock < 5 && productData?.stock > 0">
              {{ 'STOCK' | translate }} < 5
            </ion-text>
          </ion-col>
          <!-- <ion-col size="6" class="ion-no-padding ion-text-right">
            <ion-button color="primary" size="small" shape="round" (click)="addItemToCart()">
              {{ 'ADD_TO_CART' | translate }}
            </ion-button>
          </ion-col> -->
        </ion-row>
        <!-- <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="11" class="ion-no-padding">
            <ion-text *ngIf="productData?.secondary_price">
              <small class="strike-through">Rp. {{ productData?.secondary_price | number }}</small
              ><br />
            </ion-text>
            <ion-text color="secondary">
              <b>Rp. {{ productData?.primary_price | number }}</b>
            </ion-text>
          </ion-col>
          <ion-col size="1" class="ion-no-padding ion-text-right">
            <ion-icon name="list-outline" (click)="addToFavorite()"></ion-icon>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col [style.visibility]="productData?.secondary_price ? 'unset' : 'hidden'">
            <ion-badge style="font-size: 12px; --color: white; background-color: #f8a345; margin-right: 8px"
              >{{
                ((productData?.secondary_price - productData?.primary_price) / productData?.secondary_price) * 100
                  | number: '1.0-0'
              }}
              %</ion-badge
            >
            <span class="product-price price-linethrough">
              Rp {{ productData?.secondary_price | number: '1.0-0' }}
            </span>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="11">
            <span class="product-final-price">Rp {{ productData?.primary_price | number: '1.0-0':'id' }} </span>
          </ion-col>
          <ion-col size="1" class="ion-no-padding ion-text-right">
            <ion-icon
              color="primary"
              style="font-size: 28px"
              src="assets/images/add-favorite.svg"
              (click)="addToFavorite()"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <div class="divider ion-margin-vertical"></div>

    <ion-row class="ion-justify-content-between ion-padding-horizontal">
      <ion-col size="12">
        <ion-text class="text-desc-label">{{ 'DESCRIPTION' | translate }}</ion-text>
        <p [innerHTML]="productData?.description" class="text-desc"></p>
      </ion-col>
    </ion-row>

    <div class="divider"></div>

    <ion-row>
      <ion-col size="12" class="ion-padding-start">
        <ion-text class="text-desc-label">{{ 'RELATED_PRODUCT' | translate }}</ion-text>
      </ion-col>
      <ion-col size="12">
        <app-slide-product [products]="products"></app-slide-product>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row class="ion-align-items-center">
    <ion-col size="4" class="ion-text-center">
      <ion-row class="ion-align-items-center">
        <ion-col size="4">
          <ion-icon
            src="/assets/images/remove-material.svg"
            style="font-size: 10px"
            color="limegreen"
            (click)="updateLocalQuantity(false)"
            [ngClass]="{ disabled: qty < 1 }"
          ></ion-icon>
        </ion-col>
        <ion-col size="4" style="border: solid 2px #e2e2e2">{{ qty }}</ion-col>
        <ion-col size="4">
          <ion-icon
            src="/assets/images/add-material.svg"
            style="font-size: 10px"
            (click)="updateLocalQuantity(true)"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="8">
      <ion-button
        shape="round"
        color="success"
        expand="full"
        (click)="addItemToCart()"
        [ngClass]="{ disabled: qty < 1 || productData?.stock == 0 }"
      >
        {{ 'ADD_TO_CART' | translate }}
        <ion-spinner *ngIf="isOnFetch" name="dots" color="dark"></ion-spinner>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
