<ion-content>
  <ion-grid>
    <ion-row class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-text-right ion-no-padding-end">
            <ion-icon name="close" color="light" (click)="dismiss()"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding" *ngIf="title">
          <ion-col class="ion-no-padding ion-text-center">
            <ion-text class="modal-title"> {{ title }}</ion-text> <br />
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center ion-padding-horizontal ion-padding-top"
        ><ion-text class="ion-padding-vertical" [ngClass]="messageClass">{{ message }}</ion-text></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col class="ion-padding-horizontal ion-padding-bottom">
      <ion-button expand="full" shape="round" color="success" fill="outline" (click)="dismiss()">
        {{ cancelText | translate }}
      </ion-button>
    </ion-col>
    <ion-col class="ion-padding-horizontal ion-padding-bottom">
      <ion-button expand="full" shape="round" color="success" (click)="submit()">
        {{ submitText | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
