.status-bg {
  width: 28px;
  height: 28px;
  border: 1px solid var(--ion-color-pinkish-gray);
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.status-bg.success {
  border: 1px solid var(--ion-color-success);
}

.status-bg.center {
  margin-left: auto;
  margin-right: auto;
}

.status-line {
  width: 28%;
  border-bottom: 1px solid var(--ion-color-pinkish-gray);
  line-height: 0.1em;
  margin: 13px 0 13px;
  position: absolute;
}

.status-line-right {
  width: 28%;
  border-bottom: 1px solid var(--ion-color-pinkish-gray);
  line-height: 0.1em;
  margin: 13px 0 13px;
  position: absolute;
  top: 5px;
  right: 0;
}

.status-line.success,
.status-line-right.success {
  border-bottom: 1px solid var(--ion-color-success);
}

.status-line.first,
.status-line-right.first {
  width: 45%;
}

.status-img {
  width: 14px;
  display: block;
  margin: auto;
  // padding: 10px;
}

.padding-status-col {
  padding-left: 0;
  padding-right: 0;
}

.order-label {
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #353535;
}

.summary {
  &-label {
    font-size: 14px;
    line-height: 1.17;
    color: #262626;
    &.black {
      color: #353535;
      &.strong {
        font-weight: 600;
      }
    }
  }

  &-value {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.17;
    color: #353535;
    &.large {
      font-size: 16px;
    }
  }
}

.green {
  filter: brightness(0%) saturate(100%) invert(90%) sepia(32%) saturate(973%) hue-rotate(22deg) brightness(83%)
    contrast(90%);
  color: #99cc33 !important;
}

.orange {
  color: var(--ion-color-secondary) !important;
}

.address-label {
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #262626;
}

.order-value {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: normal;
  color: #353535;

  &.price {
    color: #99cc33;
    font-weight: 700;
  }
}

.btn-action {
  text-transform: capitalize;
}

ion-button {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.2;
  --padding-top: 8px;
  --padding-bottom: 8px;
}

.order-status {
  font-size: 10px;
  font-weight: 600;
  color: #353535;
}

.order-delivery-date {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.33;
  color: #353535;
}

.text {
  &-address-info {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.17;
    color: #353535;
  }
  &-address-detail {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #353535;
  }
  &-payment-info {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: normal;
    color: #353535;
  }
  &-payment-price {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.17;
    color: #353535;
  }
}

.divider {
  border: solid 0.5px #e5e5e5;
  height: 2px;
  margin-top: 0px;
}
