// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #0f447a;
  --ion-color-primary-rgb: 15, 68, 122;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0d3c6b;
  --ion-color-primary-tint: #275787;

  --ion-color-secondary: #ff7d00;
  --ion-color-secondary-rgb: 255, 125, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e06e00;
  --ion-color-secondary-tint: #ff8a1a;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #99cc33;
  --ion-color-success-rgb: 153, 204, 51;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #87b42d;
  --ion-color-success-tint: #a3d147;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #e02020;
  --ion-color-danger-rgb: 224, 32, 32;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c51c1c;
  --ion-color-danger-tint: #e33636;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #7d8187;
  --ion-color-medium-rgb: 125, 129, 135;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #6e7277;
  --ion-color-medium-tint: #8a8e93;

  --ion-color-light: #cbcbcb;
  --ion-color-light-rgb: 203, 203, 203;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #b3b3b3;
  --ion-color-light-tint: #d0d0d0;

  --ion-color-navy: #000978;
  --ion-color-navy-rgb: 0, 9, 120;
  --ion-color-navy-contrast: #ffffff;
  --ion-color-navy-contrast-rgb: 255, 255, 255;
  --ion-color-navy-shade: #00086a;
  --ion-color-navy-tint: #1a2286;

  --ion-color-dark: #2d2d32;
  --ion-color-dark-rgb: 45, 45, 50;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #28282c;
  --ion-color-dark-tint: #424247;

  --ion-color-gray: #9999a1;
  --ion-color-gray-rgb: 153, 153, 161;
  --ion-color-gray-contrast: #000000;
  --ion-color-gray-contrast-rgb: 0, 0, 0;
  --ion-color-gray-shade: #87878e;
  --ion-color-gray-tint: #a3a3aa;

  --ion-color-more-gray: #6a6a74;
  --ion-color-more-gray-rgb: 106, 106, 116;
  --ion-color-more-gray-contrast: #ffffff;
  --ion-color-more-gray-contrast-rgb: 255, 255, 255;
  --ion-color-more-gray-shade: #5d5d66;
  --ion-color-more-gray-tint: #797982;

  --ion-color-limegreen: #99cc33;
  --ion-color-limegreen-rgb: 153, 204, 51;
  --ion-color-limegreen-contrast: #ffffff;
  --ion-color-limegreen-contrast-rgb: 0, 0, 0;
  --ion-color-limegreen-shade: #87b42d;
  --ion-color-limegreen-tint: #a3d147;

  --ion-color-pinkish-gray: #cbcbcb;
  --ion-color-pinkish-gray-rgb: 203, 203, 203;
  --ion-color-pinkish-gray-contrast: #000000;
  --ion-color-pinkish-gray-contrast-rgb: 0, 0, 0;
  --ion-color-pinkish-gray-shade: #b3b3b3;
  --ion-color-pinkish-gray-tint: #d0d0d0;

  --ion-color-sunflower-yellow: #ffcc00;
  --ion-color-sunflower-yellow-rgb: 255, 204, 0;
  --ion-color-sunflower-yellow-contrast: #000000;
  --ion-color-sunflower-yellow-contrast-rgb: 0, 0, 0;
  --ion-color-sunflower-yellow-shade: #e0b400;
  --ion-color-sunflower-yellow-tint: #ffd11a;

  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

  --ion-font-family: 'Metropolis';
}

.ion-color-sunflower-yellow {
  --ion-color-base: var(--ion-color-sunflower-yellow);
  --ion-color-base-rgb: var(--ion-color-sunflower-yellow-rgb);
  --ion-color-contrast: var(--ion-color-sunflower-yellow-contrast);
  --ion-color-contrast-rgb: var(--ion-color-sunflower-yellow-contrast-rgb);
  --ion-color-shade: var(--ion-color-sunflower-yellow-shade);
  --ion-color-tint: var(--ion-color-sunflower-yellow-tint);
}

.ion-color-limegreen {
  --ion-color-base: var(--ion-color-limegreen);
  --ion-color-base-rgb: var(--ion-color-limegreen-rgb);
  --ion-color-contrast: var(--ion-color-limegreen-contrast);
  --ion-color-contrast-rgb: var(--ion-color-limegreen-contrast-rgb);
  --ion-color-shade: var(--ion-color-limegreen-shade);
  --ion-color-tint: var(--ion-color-limegreen-tint);
}

.ion-color-pinkish-gray {
  --ion-color-base: var(--ion-color-pinkish-gray);
  --ion-color-base-rgb: var(--ion-color-pinkish-gray-rgb);
  --ion-color-contrast: var(--ion-color-pinkish-gray-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pinkish-gray-contrast-rgb);
  --ion-color-shade: var(--ion-color-pinkish-gray-shade);
  --ion-color-tint: var(--ion-color-pinkish-gray-tint);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

// @media (prefers-color-scheme: dark) {
//   /*
//    * Dark Colors
//    * -------------------------------------------
//    */

//   body {
//     --ion-color-primary: #428cff;
//     --ion-color-primary-rgb: 66,140,255;
//     --ion-color-primary-contrast: #ffffff;
//     --ion-color-primary-contrast-rgb: 255,255,255;
//     --ion-color-primary-shade: #3a7be0;
//     --ion-color-primary-tint: #5598ff;

//     --ion-color-secondary: #50c8ff;
//     --ion-color-secondary-rgb: 80,200,255;
//     --ion-color-secondary-contrast: #ffffff;
//     --ion-color-secondary-contrast-rgb: 255,255,255;
//     --ion-color-secondary-shade: #46b0e0;
//     --ion-color-secondary-tint: #62ceff;

//     --ion-color-tertiary: #6a64ff;
//     --ion-color-tertiary-rgb: 106,100,255;
//     --ion-color-tertiary-contrast: #ffffff;
//     --ion-color-tertiary-contrast-rgb: 255,255,255;
//     --ion-color-tertiary-shade: #5d58e0;
//     --ion-color-tertiary-tint: #7974ff;

//     --ion-color-success: #2fdf75;
//     --ion-color-success-rgb: 47,223,117;
//     --ion-color-success-contrast: #000000;
//     --ion-color-success-contrast-rgb: 0,0,0;
//     --ion-color-success-shade: #29c467;
//     --ion-color-success-tint: #44e283;

//     --ion-color-warning: #ffd534;
//     --ion-color-warning-rgb: 255,213,52;
//     --ion-color-warning-contrast: #000000;
//     --ion-color-warning-contrast-rgb: 0,0,0;
//     --ion-color-warning-shade: #e0bb2e;
//     --ion-color-warning-tint: #ffd948;

//     --ion-color-danger: #ff4961;
//     --ion-color-danger-rgb: 255,73,97;
//     --ion-color-danger-contrast: #ffffff;
//     --ion-color-danger-contrast-rgb: 255,255,255;
//     --ion-color-danger-shade: #e04055;
//     --ion-color-danger-tint: #ff5b71;

//     --ion-color-dark: #f4f5f8;
//     --ion-color-dark-rgb: 244,245,248;
//     --ion-color-dark-contrast: #000000;
//     --ion-color-dark-contrast-rgb: 0,0,0;
//     --ion-color-dark-shade: #d7d8da;
//     --ion-color-dark-tint: #f5f6f9;

//     --ion-color-medium: #989aa2;
//     --ion-color-medium-rgb: 152,154,162;
//     --ion-color-medium-contrast: #000000;
//     --ion-color-medium-contrast-rgb: 0,0,0;
//     --ion-color-medium-shade: #86888f;
//     --ion-color-medium-tint: #a2a4ab;

//     --ion-color-light: #222428;
//     --ion-color-light-rgb: 34,36,40;
//     --ion-color-light-contrast: #ffffff;
//     --ion-color-light-contrast-rgb: 255,255,255;
//     --ion-color-light-shade: #1e2023;
//     --ion-color-light-tint: #383a3e;
//   }

//   /*
//    * iOS Dark Theme
//    * -------------------------------------------
//    */

//   .ios body {
//     --ion-background-color: #000000;
//     --ion-background-color-rgb: 0,0,0;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-color-step-50: #0d0d0d;
//     --ion-color-step-100: #1a1a1a;
//     --ion-color-step-150: #262626;
//     --ion-color-step-200: #333333;
//     --ion-color-step-250: #404040;
//     --ion-color-step-300: #4d4d4d;
//     --ion-color-step-350: #595959;
//     --ion-color-step-400: #666666;
//     --ion-color-step-450: #737373;
//     --ion-color-step-600: #808080;
//     --ion-color-step-550: #8c8c8c;
//     --ion-color-step-600: #999999;
//     --ion-color-step-650: #a6a6a6;
//     --ion-color-step-600: #b3b3b3;
//     --ion-color-step-750: #bfbfbf;
//     --ion-color-step-800: #cccccc;
//     --ion-color-step-850: #d9d9d9;
//     --ion-color-step-900: #e6e6e6;
//     --ion-color-step-950: #f2f2f2;

//     --ion-toolbar-background: #0d0d0d;

//     --ion-item-background: #1c1c1c;
//     --ion-item-background-activated: #313131;
//   }

//   /*
//    * Material Design Dark Theme
//    * -------------------------------------------
//    */

//   .md body {
//     --ion-background-color: #121212;
//     --ion-background-color-rgb: 18,18,18;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-border-color: #222222;

//     --ion-color-step-50: #1e1e1e;
//     --ion-color-step-100: #2a2a2a;
//     --ion-color-step-150: #363636;
//     --ion-color-step-200: #414141;
//     --ion-color-step-250: #4d4d4d;
//     --ion-color-step-300: #595959;
//     --ion-color-step-350: #656565;
//     --ion-color-step-400: #717171;
//     --ion-color-step-450: #7d7d7d;
//     --ion-color-step-600: #898989;
//     --ion-color-step-550: #949494;
//     --ion-color-step-600: #a0a0a0;
//     --ion-color-step-650: #acacac;
//     --ion-color-step-600: #b8b8b8;
//     --ion-color-step-750: #c4c4c4;
//     --ion-color-step-800: #d0d0d0;
//     --ion-color-step-850: #dbdbdb;
//     --ion-color-step-900: #e7e7e7;
//     --ion-color-step-950: #f3f3f3;

//     --ion-item-background: #1A1B1E;
//   }

//   ion-title.title-large {
//     --color: white;
//   }
// }

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
