<ion-header class="ion-no-border">
  <ion-grid class="ion-padding-horizontal">
    <ion-row class="ion-padding-top">
      <ion-col size="12">
        <ion-text class="favorite-title"> {{ 'ADD_TO_FAVORITES' | translate }}</ion-text> <br />
        <ion-text class="favorite-subtitle"> {{ 'CHOOSE_FAVORITE_LIST' | translate }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding-horizontal">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-list class="ion-no-padding">
          <ion-item lines="none" class="ion-no-padding" *ngFor="let item of favorites">
            <ion-checkbox
              slot="start"
              class="favorite-checkbox"
              color="success"
              [disabled]="favoriteAdded && favoriteAdded.includes(item.favourite_group_id)"
              [(ngModel)]="item.is_product_added"
              [ngModelOptions]="{ standalone: true }"
            ></ion-checkbox>
            <ion-label class="favorite-name"> {{ item.name }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row class="ion-padding-horizontal">
    <ion-col class="ion-padding-bottom">
      <ion-button expand="full" (click)="addProductToFavorite()" color="success" shape="round">
        {{ 'ADD' | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
