<ion-header class="ion-no-border" style="visibility: hidden">
  <ion-toolbar mode="ios"></ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding-top h-100 ion-padding-horizontal">
    <ion-row class="ion-text-center ion-justify-content-center ion-align-items-center h-30">
      <ion-col>
        <img src="assets/images/app-icon.png" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top ion-text-center">
      <ion-col size="12">
        <ion-button expand="block" color="limegreen" [routerLink]="[ 'form' ]"><b>Login</b></ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" fill="solid" class="social-media-login" (click)="loginFb()">
          <fa-icon [icon]="faFb"></fa-icon>
          <span class="ion-padding-start"> Login With Facebook </span>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" fill="solid" class="social-media-login" (click)="loginGoogle()">
          <fa-icon [icon]="faGoogle"></fa-icon>
          <span class="ion-padding-start"> Login With Google </span>
        </ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-text class="login-redirect-text">
          {{'NEW_HERE' | translate}}? <a class="link" [routerLink]="['/register']">{{'REGISTER_NOW' | translate}}</a>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
