<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'REGISTER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding-top ion-padding-horizontal h-100">
    <ion-row class="ion-justify-content-between">
      <ion-col size="12">
        <ion-row>
          <ion-col size="5.5" class="ion-text-center stepper"> {{ 'STEP' | translate }} 1 </ion-col>
          <ion-col size="1"> &nbsp; </ion-col>
          <ion-col size="5.5" class="ion-text-center stepper"> {{ 'STEP' | translate }} 2 </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12">
        <form [formGroup]="fg">
          <ion-item lines="none" class="form-group">
            <ion-label position="stacked">{{ 'DELIVERY_ADDRESS' | translate }}</ion-label>
            <ion-input
              class="default-theme"
              required
              placeholder="{{ 'PIN_LOCATION' | translate }}"
              type="text"
              formControlName="delivery_address"
            >
            </ion-input>
            <small>{{ fg.controls.delivery_address.errors?.required?.message }}</small>
          </ion-item>

          <ion-item lines="none" class="form-group">
            <ion-label position="stacked">{{ 'ADDRESS_DETAIL' | translate }}</ion-label>
            <ion-textarea
              placeholder="{{ 'ADDRESS_DETAIL_PLACEHOLDER' | translate }}"
              formControlName="delivery_address_detail"
              rows="6"
            ></ion-textarea>
            <small>{{ fg.controls.delivery_address_detail.errors?.required?.message }}</small>
          </ion-item>

          <ion-row>
            <ion-col size="6" class="ion-no-padding">
              <ion-item lines="none" class="form-group">
                <ion-label position="stacked">{{ 'PROVINCE' | translate }}</ion-label>
                <ion-select placeholder="{{ 'PROVINCE_PLACEHOLDER' | translate }}" formControlName="province">
                  <ion-select-option [value]="'1'">Provinsi</ion-select-option>
                </ion-select>
                <small>{{ fg.controls.province.errors?.required?.message }}</small>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <ion-item lines="none" class="form-group">
                <ion-label position="stacked">{{ 'CITY' | translate }}</ion-label>
                <ion-select placeholder="{{ 'CITY_PLACEHOLDER' | translate }}" formControlName="city">
                  <ion-select-option [value]="'1'">Kota</ion-select-option>
                </ion-select>
                <small>{{ fg.controls.city.errors?.required?.message }}</small>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6" class="ion-no-padding">
              <ion-item lines="none" class="form-group">
                <ion-label position="stacked">{{ 'DISTRICT' | translate }}</ion-label>
                <ion-select placeholder="{{ 'DISTRICT_PLACEHOLDER' | translate }}" formControlName="district">
                  <ion-select-option [value]="'1'">Kecamatan</ion-select-option>
                </ion-select>
                <small>{{ fg.controls.district.errors?.required?.message }}</small>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <ion-item lines="none" class="form-group">
                <ion-label position="stacked">{{ 'POSTAL_CODE' | translate }}</ion-label>
                <ion-input
                  class="default-theme"
                  required
                  placeholder="{{ 'POSTAL_CODE_PLACEHOLDER' | translate }}"
                  type="number"
                  formControlName="postal_code"
                ></ion-input>
                <small
                  >{{ fg.controls.postal_code.errors?.required?.message }}
                  {{ fg.controls.postal_code.errors?.required?.message }}</small
                >
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-item lines="none" class="form-group">
            <ion-label position="stacked">{{ 'ADDRESS_NAME' | translate }}</ion-label>
            <ion-input
              class="default-theme"
              required
              placeholder="{{ 'ADDRESS_NAME_PLACEHOLDER' | translate }}"
              type="text"
              formControlName="address_name"
            >
            </ion-input>
            <small>{{ fg.controls.address_name.errors?.required?.message }}</small>
          </ion-item>

          <ion-item lines="none" class="form-group">
            <ion-checkbox formControlName="tos" class="ion-margin-end"></ion-checkbox>
            <ion-label>{{ 'TOS_AGREEMENT' | translate }}</ion-label>
            <small>{{ fg.controls.tos.errors?.requiredTrue?.message }}</small>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="register()" [disabled]="fg.invalid"> {{ 'NEXT' | translate }} </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
