.article-date {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: normal;
  color: #cbcbcb;
}

.img-header {
  width: 100%;
  height: 150px;
  border-radius: 8px;
}

.article-title {
  font-size: 14px;
  font-weight: bold;
}

.article-readmore {
  font-size: 12px;
  font-weight: bold;
}
