<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md">
      <ion-back-button icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>QR Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding-top ion-padding-horizontal h-100">
    <ion-row class="ion-justify-content-between">
      <ion-col size="12" class="ion-no-padding">
        <ng-container *ngIf="isShow then showComp; else scanComp"> </ng-container>
        <ng-template #showComp><app-show-qr></app-show-qr></ng-template>
        <ng-template #scanComp><app-scan-qr></app-scan-qr></ng-template>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
      <ion-col size="6">
        <ion-button color="limegreen" expand="block" (click)="changeMode('show')" [disabled]="isShow" [fill]="isShow ? 'solid' : 'outline'" >
          {{'SHOW_QR' | translate}}
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="limegreen" expand="block" (click)="changeMode('scan')" [disabled]="!isShow" [fill]="!isShow ? 'solid' : 'outline'">
          {{'SCAN_QR' | translate}}
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-footer class="ion-no-border ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button color="limegreen" expand="block" (click)="changeMode('scan')" [disabled]="!isShow">
          {{'SCAN_QR' | translate}}
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="limegreen" expand="block" (click)="changeMode('show')" [disabled]="isShow">
          {{'SHOW_QR' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->
