<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md">
      <ion-back-button icon="chevron-back" defaultHref="/login/form"></ion-back-button>
      <ion-title>{{ 'NEW_PASSWORD' | translate }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-padding-top">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <form (ngSubmit)="setPassword()" #changePassForm="ngForm">
          <ion-item lines="none">
            <ion-label position="stacked">{{ 'NEW_PASSWORD' | translate }}</ion-label>
            <ion-input class="default-theme" required placeholder="{{ 'NEW_PASSWORD' | translate }}"></ion-input>
          </ion-item>
          <ion-item lines="none" class="padding-form">
            <ion-label position="stacked">{{ 'VERIFY_NEW_PASSWORD' | translate }}</ion-label>
            <ion-input class="default-theme" required placeholder="{{ 'VERIFY_NEW_PASSWORD' | translate }}"></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid> </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row class="ion-padding-bottom">
    <ion-col class="ion-padding">
      <ion-button expand="full" (click)="changePassForm.ngSubmit.emit()">
        {{ 'CHANGE_PASSWORD' | translate }}</ion-button
      >
    </ion-col>
  </ion-row>
</ion-footer>
