<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons mode="md" class="ion-text-center">
      <ion-back-button icon="chevron-back" defaultHref="/tabs/home" icon="chevron-back-outline"> </ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">{{ bundling?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="searchProduct()">
        <ion-icon name="search" class="header-action-size"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-card class="ion-no-border ion-no-margin">
          <ion-card-header class="ion-no-padding" *ngIf="bundling?.image_url">
            <img [src]="bundling?.image_url" class="img-banner" />
          </ion-card-header>

          <ion-card-content class="ion-no-padding ion-text-left">
            <ion-row class="ion-padding-horizontal ion-padding-top">
              <ion-col size="12" class="truncate">
                <ion-text class="bundling-title">{{ bundling?.name }} </ion-text>
              </ion-col>
              <ion-col size="12">
                <ion-text class="bundling-desc">
                  {{ bundling?.description }}
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="ion-padding-horizontal" *ngFor="let item of products">
        <app-card-product [product]="item"></app-card-product>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreProduct($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer color="light" [translucent]="false" [mode]="'md'">
  <ion-grid style="background: white">
    <ion-row class="ion-align-items-center">
      <ion-col size="6" class="ion-text-center" style="border-right: 1px solid #99cc33">
        <ion-text color="success" (click)="showSort()">
          <ion-icon name="funnel"></ion-icon>
          {{ 'SORT' | translate }}
        </ion-text>
      </ion-col>
      <ion-col size="6" class="ion-text-center" style="border-left: 1px solid #99cc33">
        <ion-text color="success" (click)="showFilter()">
          <ion-icon name="filter"></ion-icon>
          {{ 'FILTER' | translate }}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
