img {
  border-radius: 7px;
}

.ion-text-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
}

.location-title {
  font-size: 13px;
}

.location-text {
  font-weight: bold;
  font-size: 12px;
}

.notif-icon {
  font-size: 25px;
}
