img {
  // border-radius: 7px;
}

ion-header {
  border-bottom: 0px;
}

.ion-text-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
}

.location-title {
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: normal;
  color: #353535;
}

.location-text {
  font-size: 11px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: normal;
  color: #99cc33;
  vertical-align: top;
}

.location-icon {
  margin-top: 1px;
}

.notif-icon {
  font-size: 25px;
}

.divider {
  height: 8px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background-color: #f5f5f5;
}

.toast-header {
  font-weight: bold;
}

.padding-point {
  padding: 10px;
}

.point {
  &-label {
    padding-left: 5px;
    font-size: 11px;
    font-weight: 600;
    color: #353535;
  }

  &-value {
    font-size: 12px;
    font-weight: 500;
    color: #353535;
  }

  &-icon {
    width: 16px;
    height: 16px;
  }
}
