<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-row class="ion-align-items-center ion-padding-top">
      <ion-col size="4" size-md="3" class="ion-padding-horizontal">
        <img style="height: 23px" src="assets/images/app-logo.png" />
      </ion-col>
      <ion-col size="8" size-md="9" class="ion-text-right">
        <ion-row>
          <ion-col size="12" class="ion-no-padding location-title ion-padding-end"
            >{{'STORE_LOCATION' | translate}}</ion-col
          >
          <ion-col size="12" class="ion-padding-end">
            <ion-row class="ion-no-padding ion-align-items-center location-text">
              <ion-col
                size="12"
                size-sm
                size-md="5"
                size-lg="4"
                class="ion-no-padding truncate"
                (click)="selectStore()"
              >
                <div style="vertical-align: middle">
                  <ion-icon name="location" class="location-icon"></ion-icon>
                  <ion-text class="location-text"> {{ branchName }} </ion-text>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10.5" (click)="searchProduct()">
        <ion-searchbar class="custom-search" mode="ios"></ion-searchbar>
        <div
          class="ion-no-padding ion-align-self-center ion-text-center scan-icon-container"
          (click)="scanQR();$event.stopPropagation();"
        >
          <img src="assets/images/scan.svg" class="scan-icon" />
        </div>
      </ion-col>
      <ion-col size="1.5" class="ion-no-padding ion-align-self-center ion-text-center">
        <ion-icon name="notifications" color="primary" class="notif-icon link" (click)="openNotification()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="1.2" pullMin="20" pullMax="80">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <app-slide-promo [banners]="banners"></app-slide-promo>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-card>
          <!-- <ion-card-content> -->
          <ion-row class="padding-point">
            <ion-col>
              <ion-row>
                <ion-col size="1" class="ion-align-self-center">
                  <img src="assets/images/ic_point.svg" class="point-icon" />
                </ion-col>
                <ion-col class="ion-align-self-center">
                  <ion-text class="point-label">{{'LOYALTY_POINTS' | translate}}</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="ion-text-right ion-align-self-center" [routerLink]="['/loyalty-point']">
              <ion-row>
                <ion-col>
                  <ion-text class="point-value">{{(point | number) || '-'}} POINTS</ion-text>
                </ion-col>
                <ion-col size="1">
                  <ion-icon name="chevron-forward-circle" color="sunflower-yellow"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <!-- </ion-card-content> -->
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col>
        <app-home-categories></app-home-categories>
      </ion-col>
    </ion-row>

    <div class="divider"></div>

    <ion-row *ngFor="let bundling of bundlings">
      <ion-col>
        <app-home-bundling [bundling]="bundling"></app-home-bundling>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-home-brands></app-home-brands>
      </ion-col>
    </ion-row>

    <div class="divider"></div>

    <ion-row class="ion-padding-bottom">
      <ion-col>
        <app-home-articles [articles]="articles"></app-home-articles>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
