<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>{{'MY_CART' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding-top ion-padding-horizontal h-100">
    <ion-row class="ion-justify-content-between">
      <ion-col size="12">
        <app-item-list [cartData]="cartList" (quantityChange)="updateTotalPrice($event)"></app-item-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-padding-horizontal">
  <ion-toolbar mode="md">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <span>{{'TOTAL_PRICE' | translate}}</span> <br />
          <span><b>Rp. {{totalPrice | number}}</b></span>
        </ion-col>
        <ion-col size="6" class="ion-text-right" [routerLink]="['/checkout']">
          <ion-button color="primary" size="small" shape="round"> {{'CHECKOUT' | translate}} </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
