<ion-card class="ion-no-margin ion-margin-top card-voucher">
  <ion-card-header class="ion-no-padding link">
    <ion-skeleton-text animated style="height: 150px"></ion-skeleton-text>
  </ion-card-header>

  <ion-card-content class="ion-no-padding ion-text-left">
    <ion-row class="ion-padding-horizontal">
      <ion-col size="7">
        <span class="text-voucher-code"> <ion-skeleton-text></ion-skeleton-text> </span>
        <span class="text-voucher-desc"> <ion-skeleton-text></ion-skeleton-text> </span>
      </ion-col>
      <ion-col size="5" class="ion-text-right ion-align-self-center">
        <ion-text class="btn-use-voucher">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
