<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> {{ 'FAVORITES' | translate }} </ion-title>
    <ion-title slot="end" class="add-favorite">
      <ion-icon name="add-outline"></ion-icon>
      <ion-text (click)="addToList()">
        {{ 'ADD_NEW_LIST' | translate }}
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-item class="favorite-item ion-margin-bottom" *ngFor="let item of favorites">
      <ion-label>{{ item.name }}</ion-label>
      <ion-text
        slot="end"
        class="ion-text-right text-see-list link"
        [routerLink]="['/favorite', item.favourite_group_id, 'detail']"
        >{{ 'SEE_LIST' | translate }}</ion-text
      >
    </ion-item>
  </ion-list>
</ion-content>
