<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title> {{ 'FAVORITES' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-item-sliding *ngFor="let item of favorites" class="ion-margin-bottom">
      <ion-item lines="none" class="favorite-item">
        <ion-label class="favorite-name">{{ item.name }}</ion-label>
        <ion-text
          slot="end"
          class="ion-text-right text-see-list link"
          [routerLink]="['/favorite', item.favourite_group_id, 'detail']"
          ><b>{{ 'SEE_LIST' | translate }}</b></ion-text
        >
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option style="font-weight: 600;text-transform: capitalize;border-radius: 5px;" color="danger" (click)="delete(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-grid *ngIf="favorites?.length <= 0" class="ion-text-center ion-padding ion-margin">
    <ion-row>
      <ion-col>
        <img src="assets/images/empty-favorite.svg">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="text-empty-title ion-margin-vertical">
          You have no favorites
        </div>
        <ion-text class="text-empty-desc">
          Start by creating a favorite list and fill it with things you love!
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button fill="outline" color="primary" size="small" (click)="addToList()">
        <ion-icon slot="start"  name="add-outline"></ion-icon>
         <strong>{{ 'ADD_NEW_LIST' | translate }}</strong>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<!-- <ion-footer class="ion-no-border">
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button fill="outline" color="primary" size="small" (click)="addToList()">
        <ion-icon slot="start"  name="add-outline"></ion-icon>
         <strong>{{ 'ADD_NEW_LIST' | translate }}</strong>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer> -->
