<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md">
      <ion-back-button icon="chevron-back" defaultHref="/login/form"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ headerText }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-padding-top">
    <ion-row class="ion-padding-horizontal">
      <ion-col size="12">
        <ion-label>{{ 'EMAIL_ADDRESS' | translate }}</ion-label> <br />
        <ion-text class="font-sm">{{ 'REQUEST_OTP_INTRO' | translate }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <form (ngSubmit)="sendOtp()" #requestOTPForm="ngForm">
          <ion-item class="form-group" lines="none">
            <ion-input class="default-theme" required placeholder="{{ 'YOUR_EMAIL_ADDRESS' | translate }}"></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-bottom">
      <ion-col size="12" class="ion-padding ion-text-center">
        <ion-button fill="outline" color="primary" (click)="requestOTPForm.ngSubmit.emit()">
          <b>{{ 'GET_OTP' | translate | uppercase }}</b>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
