<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons mode="md" class="ion-text-center">
      <ion-back-button defaultHref="/tabs/home" icon="chevron-back-outline"> </ion-back-button>
      <ion-title class="header-title center-with-back">{{ 'SEARCH' | translate }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <div class="ion-padding-start">
      <ion-searchbar
        class="custom-search"
        mode="ios"
        (ionChange)="searchProduct($event)"
        debounce="1000"
        value="{{ keyword }}"
      ></ion-searchbar>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="showFilter()">
        <ion-icon name="funnel" slot="start" class="header-action-size"></ion-icon>
        <ion-text class="header-action-size"> {{ 'FILTER' | translate }} </ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <app-product-search-without-keyword
      *ngIf="!keyword"
      [recentSearches]="recentSearches"
      (assignKeyword)="assignKeyword($event)"
    ></app-product-search-without-keyword>
    <app-product-search-with-keyword
      *ngIf="keyword"
      [keyword]="keyword"
      [products]="products"
      [brands]="brands"
    ></app-product-search-with-keyword>
  </ion-grid>
</ion-content>
