.header-action-size {
  font-size: 12px !important;
  text-transform: capitalize;
}

.filter-icon {
  font-size: 16px !important;
}

.custom-search {
  padding-left: 9px;
}

ion-header {
  border: none;
}
