<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md">
      <ion-back-button icon="chevron-back" defaultHref="/tabs/favorite"></ion-back-button>
      <ion-title> {{ favorite?.name }} </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" *ngIf="productFavorites && productFavorites.length">
      <!-- <ion-checkbox
        slot="start"
        color="limegreen"
        class="product-checkbox"
        [ngModel]="selectAll"
        (ngModelChange)="toggleSelectAll()"
      ></ion-checkbox> -->
      <!-- <ion-label color="success" class="text-select-all">{{ 'SELECT_ALL' | translate }}</ion-label> -->
      <ion-button color="limegreen" fill="clear" class="ion-no-padding" (click)="toggleSelectAll()">
        <ion-text>
          <b>{{ 'SELECT_ALL' | translate }}</b>
        </ion-text>
      </ion-button>
    </ion-item>

    <ion-item lines="none" *ngFor="let item of productFavorites; let i = index">
      <ion-checkbox slot="start" color="limegreen" class="product-checkbox" [ngModel]="item?.selected"
        (ngModelChange)="toggleSelect(i)" [ngModelOptions]="{ standalone: true }"></ion-checkbox>
      <ion-thumbnail class="thumb-product" slot="start">
        <img [src]="item?.product?.image_url" class="product-img full-width" *ngIf="item?.product?.image_url" />
        <img src="https://via.placeholder.com/200.png" class="product-img full-width"
          *ngIf="!item?.product?.image_url" />
      </ion-thumbnail>
      <ion-grid class="ion-align-self-start">
        <ion-row class="ion-align-items-center">
          <ion-col size="9">
            <ion-row>
              <ion-col size="12">
                <ion-text class="product-name">{{ item?.product?.name }}</ion-text>
              </ion-col>
              <ion-col size="12" class="ion-no-padding-top">
                <div>
                  <ion-text class="product-price strikethrough">
                    {{ item?.product?.secondary_price || item?.secondary_price | currency: 'Rp. ':'symbol':'1.0-0' }}
                  </ion-text>
                </div>
                <ion-text class="product-final-price">
                  Rp. {{ item?.product?.primary_price | number: '1.0-0':'id' }}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row> </ion-row>
          </ion-col>
          <ion-col size="3" class="ion-text-right" style="z-index: 99;" (click)="delete(item);$event.stopPropagation()">
            <ion-icon name="trash" color="danger" style="font-size: 25px;">
            </ion-icon>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col>
            <ion-text class="product-price-with-unit">
              Rp. {{ item?.product?.primary_price | number: '1.0-0':'id' }}
              <span class="product-unit">/{{ item?.product?.unit?.name }}</span>
            </ion-text>
          </ion-col>
        </ion-row> -->
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="ion-align-self-center">
      <ion-text class="ion-padding-start total-item">
        {{ 'TOTAL_ITEMS' | translate }} ({{ selectedItem.length }})
      </ion-text>
    </ion-col>
    <ion-col class="ion-text-right">
      <ion-button [disabled]="!selectedItem.length" [color]="!selectedItem.length ? 'light' : 'success'" shape="round"
        (click)="addToCart()">
        <ion-text class="btn-action">
          {{ 'ADD_TO_CART' | translate }}
        </ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>