<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md" class="title">
      <ion-back-button icon="chevron-back" defaultHref="/tabs/notification"></ion-back-button>
      <ion-title class="title">{{ notification?.title }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <img class="img-banner" src="assets/images/placeholder-banner.png" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size="12">
        <ion-text class="notif-title">{{ notification?.title }} </ion-text>
      </ion-col>
      <ion-col size="12" class="padding-time">
        <ion-text class="notif-time">{{ notification?.date | date: 'medium' }} </ion-text>
      </ion-col>
      <ion-col size="12" class="ion-text-justify">
        <ion-text class="notif-desc" [innerHtml]="notification?.description"> </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
