<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md">
      <ion-back-button icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'CHECKOUT' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top h-100">
    <ion-row class="ion-padding-bottom ion-padding-horizontal">
      <ion-col size="12">
        <span class="label-title"><b>{{'DELIVERY_INFORMATION' | translate}}</b></span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="6">
        <span class="text-address-info">{{'RECEIVER_NAME' | translate }}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <span class="text-address-info">{{ defaultAddress?.receiver_name }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="6">
        <span class="text-address-info">{{'PHONE_NUMBER' | translate }}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <span class="text-address-info">{{ defaultAddress?.phone }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-padding-horizontal">
      <ion-col size="6"><span class="text-address-info">{{'DELIVERY_LOCATION' | translate}}</span></ion-col>
      <ion-col size="6" class="ion-text-right">
        <small
          class="link delivery-location-btn"
          [routerLink]="['/address']"
          [queryParams]="{mode: 'select', address_id: defaultAddress?.address_id}"
          >{{"CHANGE_DELIVERY_LOCATION" | translate}}</small
        >
      </ion-col>
      <ion-col size="12">
        <ion-text color="medium">
          <span class="text-address-detail">{{ defaultAddress?.address_detail }}</span><br /><br />
          <span class="text-address-detail">{{ defaultAddress?.formatted_address | lowercase | titlecase }}</span>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col size="12">
        <span class="label-title"><b>{{'DELIVERY_NOTES' | translate}}</b></span>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-item lines="none" class="form-group" style="margin: 5px; --padding-start: 0">
          <ion-textarea rows="3" placeholder="{{'LOCATION_DETAIL_PLACEHOLDER' | translate}}" [(ngModel)]="notes">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="12"
        ><span class="label-title"><b>{{'DELIVERY_TIME' | translate}}</b></span></ion-col
      >
      <ion-col size="12">
        <fieldset class="radio-wrapper">
          <div>
            <input
              class="radio-input"
              type="radio"
              name="delivery_time"
              [value]="false"
              [disabled]="!canDeliverNow"
              (change)="radioChanged('deliver_now')"
              [checked]="canDeliverNow"
            />
            <label class="radio-label" [ngClass]="{ 'text-muted' : !canDeliverNow }"
              >{{'DELIVER_NOW' | translate}}
            </label>
            <ion-icon name="information-circle" color="success" (click)="presentDeliveryInfo('now')"></ion-icon>
            <br />
            <div style="font-size: 11px; padding-left: 24px" *ngIf="!canDeliverNow">
              <span style="color: #f64740">{{'NOW_CLOSED' | translate}}</span>
              <span class="text-muted">
                <b> - {{'OPEN_ON' | translate}} {{operationalTime?.open}}</b>
              </span>
            </div>
          </div>
          <div>
            <ion-row class="ion-align-items-center">
              <ion-col size="7" class="ion-no-padding">
                <input
                  class="radio-input"
                  type="radio"
                  name="delivery_time"
                  [value]="true"
                  (change)="radioChanged('deliver_later')"
                  [checked]="!canDeliverNow"
                />
                <label class="radio-label">{{'SCHEDULE_FOR_LATER' | translate}}</label>
                <ion-icon name="information-circle" color="success" (click)="presentDeliveryInfo('later')"></ion-icon>
              </ion-col>
              <ion-col size="5" class="ion-text-right">
                <ion-button
                  class="btn-selected-date"
                  expand="block"
                  fill="outline"
                  size="small"
                  (click)="scheduleDatepicker.open()"
                >
                  {{selectedDate ? (selectedDate | date:'mediumDate') : ('SELECT_DATE' | translate)}}
                </ion-button>
                <ion-datetime
                  #scheduleDatepicker
                  class="ion-hide"
                  displayFormat="D MMMM YYYY"
                  pickerFormat="D MMMM YYYY"
                  [min]="currDate"
                  [ngModel]="selectedDate"
                  (ionChange)="onDateSelect($event.detail.value)"
                ></ion-datetime>
              </ion-col>
            </ion-row>
          </div>
        </fieldset>
      </ion-col>

      <ion-col size="3" class="ion-no-padding ion-text-center" *ngFor="let time of timeList;let i = index">
        <ion-chip
          class="delivery-chip"
          [color]="time.selected ? 'success': 'light'"
          [outline]="!time?.selected"
          [ngClass]="{'date-selected' : time.selected }"
          [disabled]="(!selectedDate || !time?.active) || deliveryNow"
          (click)="onTimeSelect(i)"
        >
          <span>{{time?.text}}</span>
        </ion-chip>
      </ion-col>
    </ion-row>

    <div class="divider"></div>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="12">
        <span class="label-title"><b>{{'ORDER_DETAIL' | translate}}</b></span>
      </ion-col>
      <ion-col size="12">
        <app-item-list [showSubstract]="false" [cartData]="cartList"></app-item-list>
      </ion-col>
    </ion-row>
    <div class="divider"></div>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="12">
        <span class="label-title">
          <b> {{'PAYMENT_SUMMARY' | translate}} </b>
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="6">
        <span class="text-payment-info">{{'SUBTOTAL' | translate}}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right text-payment-price">
        Rp. {{ paymentSummary?.original_price | number: '1.0-0':'id' }}
      </ion-col>
      <ion-col size="6" *ngIf="paymentSummary?.saved_price > 0">
        <span class="text-payment-info text-saving">{{'SAVING' |translate}}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right text-payment-price text-saving" *ngIf="paymentSummary?.saved_price > 0">
        - Rp. {{ paymentSummary?.saved_price | number: '1.0-0':'id' }}
      </ion-col>
      <ion-col size="6">
        <span class="text-payment-info">{{'DELIVERY_FEE' |translate}}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right text-payment-price">
        Rp. {{ paymentSummary?.delivery_fee | number: '1.0-0':'id' }}
      </ion-col>
      <ion-col size="6" *ngIf="paymentSummary?.discount > 0">
        <span class="text-payment-info text-discount"
          >{{ ('PROMO' | translate) + ' ( ' + voucher?.voucher_code + ' )' }}</span
        >
      </ion-col>
      <ion-col size="6" class="ion-text-right text-payment-price text-discount" *ngIf="paymentSummary?.discount > 0">
        - Rp. {{ paymentSummary?.discount | number: '1.0-0':'id' }}
      </ion-col>
    </ion-row>

    <div class="divider"></div>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="12">
        <span class="label-title">
          <b> {{'VOUCHER' | translate}} </b>
        </span>
      </ion-col>
      <ion-col size="6">
        <span class="text-payment-info">{{'SELECT_VOUCHER' |translate}}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-icon
          name="checkmark-outline"
          style="vertical-align: middle"
          color="success"
          *ngIf="(voucher && voucher?.quota > 0) || voucherError"
        ></ion-icon>
        <ion-icon
          name="alert-outline"
          style="vertical-align: middle"
          color="warning"
          *ngIf="(voucher && voucher?.quota <= 0) || voucherError"
        ></ion-icon>

        <span [routerLink]="['/voucher']" class="link">
          <small *ngIf="!voucher || !voucher?.voucher_code"> {{'USE_VOUCHER' | translate}} </small>
          <span class="used-voucher" *ngIf="voucher?.voucher_code"> {{ voucher?.voucher_code | uppercase }} </span>
        </span>

        <ion-icon
          name="close-outline"
          style="vertical-align: middle"
          *ngIf="voucher && voucher?.voucher_code"
          (click)="removeVoucher()"
        ></ion-icon>
      </ion-col>
    </ion-row>

    <div class="divider"></div>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="6">
        <span class="text-payment-info">{{'TOTAL_PAYMENT' |translate}}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right text-payment-price">
        Rp. {{ paymentSummary?.final_price | number: '1.0-0':'id' }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="limegreen" (click)="pay()" [disabled]="isOnFetch">
          {{'PROCEED_TO_PAYMENT' | translate}} <ion-spinner *ngIf="isOnFetch" name="dots" color="dark"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
