<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md">
      <ion-back-button icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'CHECKOUT' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top h-100">
    <ion-row class="ion-padding-bottom ion-padding-horizontal">
      <ion-col size="12">
        <span><b>{{'DELIVERY_INFORMATION' | translate}}</b></span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="6">
        <span class="text-address-info">{{'RECEIVER_NAME' | translate }}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <span class="text-address-info">{{ defaultAddress?.receiver_name }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="6">
        <span class="text-address-info">{{'PHONE_NUMBER' | translate }}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <span class="text-address-info">{{ defaultAddress?.phone }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-padding-horizontal">
      <ion-col size="6"><span class="text-address-info">{{'DELIVERY_LOCATION' | translate}}</span></ion-col>
      <ion-col size="6" class="ion-text-right">
        <small [routerLink]="['/address']" [queryParams]="{mode: 'select'}"
          >{{"CHANGE_DELIVERY_LOCATION" | translate}}</small
        >
      </ion-col>
      <ion-col size="12">
        <ion-text color="medium">
          <span class="text-address-detail">{{ defaultAddress?.address_detail }}</span>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col size="12">
        <span><b>{{'DELIVERY_NOTES' | translate}}</b></span>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-item lines="none" class="form-group">
          <ion-textarea
            rows="3"
            placeholder="{{'LOCATION_DETAIL_PLACEHOLDER' | translate}}"
            [(ngModel)]="notes"
          ></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="12"
        ><span><b>{{'DELIVERY_TIME' | translate}}</b></span></ion-col
      >
      <ion-col size="12">
        <fieldset class="radio-wrapper">
          <div>
            <input
              class="radio-input"
              type="radio"
              name="delivery_time"
              [value]="false"
              [disabled]="!canDeliverNow"
              (change)="radioChanged('deliver_now')"
              [checked]="canDeliverNow"
            />
            <label class="radio-label">{{'DELIVER_NOW' | translate}}</label>
          </div>
          <div>
            <ion-row class="ion-align-items-center">
              <ion-col size="6" class="ion-no-padding">
                <input
                  class="radio-input"
                  type="radio"
                  name="delivery_time"
                  [value]="true"
                  (change)="radioChanged('deliver_later')"
                  [checked]="!canDeliverNow"
                />
                <label class="radio-label">{{'SCHEDULE_FOR_LATER' | translate}}</label>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <ion-button
                  expand="block"
                  fill="outline"
                  size="small"
                  color="medium"
                  (click)="scheduleDatepicker.open()"
                >
                  {{selectedDate ? (selectedDate | date:'longDate') : ('SELECT_DATE' | translate)}}
                </ion-button>
                <ion-datetime
                  #scheduleDatepicker
                  class="ion-hide"
                  displayFormat="D MMMM YYYY"
                  pickerFormat="D MMMM YYYY"
                  [min]="currDate"
                  [ngModel]="selectedDate"
                  (ionChange)="onDateSelect($event.detail.value)"
                ></ion-datetime>
              </ion-col>
            </ion-row>
          </div>
        </fieldset>
      </ion-col>

      <ion-col size="3" class="ion-no-padding ion-text-center" *ngFor="let time of timeList;let i = index">
        <ion-chip
          class="delivery-chip"
          [color]="time.selected ? 'success': 'light'"
          [outline]="!time?.selected"
          [disabled]="(!selectedDate || !time?.active) || deliveryNow"
          (click)="onTimeSelect(i)"
        >
          <span>{{time?.text}}</span>
        </ion-chip>
      </ion-col>
    </ion-row>

    <div class="divider"></div>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="12">
        <span><b>{{'ORDER_DETAIL' | translate}}</b></span>
      </ion-col>
      <ion-col size="12">
        <app-item-list [showSubstract]="false" [cartData]="cartList"></app-item-list>
      </ion-col>
    </ion-row>
    <div class="divider"></div>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="12">
        <span>
          <b> {{'PAYMENT_SUMMARY' | translate}} </b>
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="6">
        <span class="text-payment-info">{{'SUBTOTAL' | translate}}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right text-payment-price">
        Rp. {{ paymentSummary?.raw_price | number: '1.0-0':'id' }}
      </ion-col>
      <ion-col size="6">
        <span class="text-payment-info">{{'SERVICE_FEE' |translate}}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right text-payment-price">
        Rp. {{ paymentSummary?.service_fee | number: '1.0-0':'id' }}
      </ion-col>
      <ion-col size="6">
        <span class="text-payment-info">{{'DELIVERY_FEE' |translate}}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right text-payment-price">
        Rp. {{ paymentSummary?.delivery_fee | number: '1.0-0':'id' }}
      </ion-col>
      <ion-col size="6">
        <span class="text-payment-info">{{'DISCOUNT' |translate}}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right text-payment-price" *ngIf="paymentSummary?.discount > 0">
        Rp. {{ paymentSummary?.discount | number: '1.0-0':'id' }}
      </ion-col>
    </ion-row>

    <div class="divider"></div>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="12">
        <span>
          <b> {{'VOUCHER' | translate}} </b>
        </span>
      </ion-col>
      <ion-col size="6">
        <span class="text-payment-info">{{'SELECT_VOUCHER' |translate}}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-icon
          name="checkmark-outline"
          color="success"
          *ngIf="(voucher && voucher?.quota > 0) || voucherError"
        ></ion-icon>
        <ion-icon
          name="alert-outline"
          color="warning"
          *ngIf="(voucher && voucher?.quota <= 0) || voucherError"
        ></ion-icon>

        <span [routerLink]="['/voucher']" class="link">
          <small *ngIf="!voucher || !voucher?.voucher_code"> {{'USE_VOUCHER' | translate}} </small>
          <span class="used-voucher" *ngIf="voucher?.voucher_code"> {{ voucher?.voucher_code | uppercase }} </span>
        </span>

        <ion-icon name="close-outline" *ngIf="voucher && voucher?.voucher_code" (click)="removeVoucher()"></ion-icon>
      </ion-col>
    </ion-row>

    <div class="divider"></div>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="6">
        <span class="text-payment-info">{{'TOTAL_PAYMENT' |translate}}</span>
      </ion-col>
      <ion-col size="6" class="ion-text-right text-payment-price">
        Rp. {{ paymentSummary?.final_price | number: '1.0-0':'id' }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="limegreen" (click)="pay()" [disabled]="isOnFetch">
          {{'PROCEED_TO_PAYMENT' | translate}} <ion-spinner *ngIf="isOnFetch" name="dots" color="dark"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
