<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>{{ 'UNDER_MAINTENANCE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="h-100 ion-align-items-center ion-justify-content-center ion-text-center">
    <ion-col size="12" class="ion-text-center ion-padding-vertical">
      <ion-row>
        <ion-col size="12">
          <img src="assets/images/ic_maintenance.svg" />
        </ion-col>

        <ion-col size="12" class="ion-text-center">
          <ion-text class="maintenance-title">
            {{ 'MAINTENANCE_TITLE' | translate }}
          </ion-text>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="maintenance-message">
            {{ 'MAINTENANCE_MESSAGE' | translate }}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row class="ion-padding">
    <ion-col class="ion-text-center">
      <ion-button color="success" shape="round" expand="block" (click)="exitApp()">{{
        'CLOSE_APP' | translate
      }}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
