.text-title {
  font-size: 16px;
  font-weight: 700;
  color: #353535;
}

.text-subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #353535;
}

.text-content {
  font-size: 13px;
  font-weight: 400;
  color: #353535;
}

.text-label {
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #353535;
}

.text-price {
  font-size: 18px;
  font-weight: bold;
  color: #353535;
}

.divider {
  height: 8px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background-color: #f5f5f5;
}
