<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons mode="md" class="ion-text-center">
      <ion-back-button [defaultHref]="previousUrl" icon="chevron-back-outline" (click)="goBack()"> </ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'MANUAL_BANK_TRANSFER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row class="ion-padding-horizontal">
    <ion-col size="12">
      <ion-text class="text-label">
        {{ 'TOTAL_PAYMENT' | translate }}
      </ion-text>
    </ion-col>
    <ion-col size="12">
      <ion-text class="text-price"> Rp. {{ paymentSummary?.final_price | number: '1.0-0':'id' }}</ion-text>
    </ion-col>
  </ion-row>
  <div class="divider"></div>
  <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col size="12">
      <ion-text class="text-title">
        {{ 'HOW_TO_PAY' | translate }}
      </ion-text>
    </ion-col>
    <ion-col size="12" class="ion-padding-vertical">
      <ion-text class="text-subtitle">
        {{ 'MANUAL_BANK_TRANSFER' | translate }}
      </ion-text>
    </ion-col>
    <ion-col size="12">
      <ion-text class="text-content">
        <ion-row>
          <ion-col size="1"> 1 </ion-col>
          <ion-col>
            {{ 'MANUAL_PAYMENT_STEP1' | translate }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="1"> 2</ion-col>
          <ion-col>
            <span innerHTML="{{ 'MANUAL_PAYMENT_STEP2' | translate }} "></span>
            <br />
            <ion-grid class="ion-padding-vertical">
              <ion-row class="ion-no-padding">
                <ion-col class="ion-no-padding"><strong>Nama Bank</strong></ion-col>
                <ion-col class="ion-no-padding" size="1"> : </ion-col>
                <ion-col class="ion-no-padding"><strong>Bank Central Asia</strong></ion-col>
              </ion-row>
              <ion-row class="ion-no-padding">
                <ion-col class="ion-no-padding"><strong>Nomor Rekening</strong></ion-col>
                <ion-col class="ion-no-padding" size="1"> : </ion-col>
                <ion-col class="ion-no-padding"><strong>040 899 5577</strong></ion-col>
              </ion-row>
              <ion-row class="ion-no-padding">
                <ion-col class="ion-no-padding"><strong>Pemilik Rekening</strong></ion-col>
                <ion-col class="ion-no-padding" size="1"> : </ion-col>
                <ion-col class="ion-no-padding"><strong>PT Mitra Kreasi Santosa</strong></ion-col>
              </ion-row>
            </ion-grid>
            <table>
              <tr>
                <td></td>
              </tr>
            </table>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"> 3 </ion-col>
          <ion-col class="text-content" innerHTML="{{ 'MANUAL_PAYMENT_STEP3' | translate }}"> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"> 4 </ion-col>
          <ion-col class="text-content" innerHTML="{{ 'MANUAL_PAYMENT_STEP4' | translate }}"> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"> 5 </ion-col>
          <ion-col class="text-content" innerHTML="{{ 'MANUAL_PAYMENT_STEP5' | translate }}"> </ion-col>
        </ion-row>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="ion-no-border" color="light" [translucent]="false" [mode]="'md'">
  <ion-grid class="ion-no-padding" style="background: white">
    <ion-row class="ion-padding">
      <ion-col>
        <ion-button color="success" expand="block" shape="round" (click)="pay()" [disabled]="isOnFetch">
          {{ 'PAY' | translate }} <ion-spinner *ngIf="isOnFetch" name="dots" color="dark"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
