<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="end" mode="md">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'ENTER_OTP' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding-top ion-padding-horizontal h-100">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <small>{{ 'OTP_WORDING' | translate }} </small>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center ion-margin-vertical">
      <ion-col size="12">
        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="otpConfig"></ng-otp-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ng-container *ngIf="countdown > 0; then countdownComp; else resendComp"></ng-container>
        <ng-template #countdownComp>
          <small>{{ formattedCountdown() }}</small>
        </ng-template>
        <ng-template #resendComp>
          <ion-text color="primary" (click)="setBanOtp()">
            <small>{{ 'RESEND_OTP' | translate }}</small>
          </ion-text>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          expand="block"
          shape="round"
          color="success"
          (click)="verifyOtp()"
          [disabled]="otpValue?.length !== 4 || isOnFetch"
        >
          {{ 'VERIFY' | translate }} <ion-spinner *ngIf="isOnFetch" name="dots" color="dark"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
