<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md" class="title" (click)="dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">{{ inbox?.subject }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row *ngIf="inbox?.global_notification?.image_url">
      <ion-col>
        <img class="img-banner" [src]="inbox?.global_notification?.image_url" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size="12" class="padding-time text-date">
        <ion-text class="notif-time">{{ inbox?.notification_created_at | date: 'medium' }} </ion-text>
      </ion-col>
      <ion-col size="12" class="ion-padding-top">
        <ion-text class="text-message">{{ inbox?.message }} </ion-text>
      </ion-col>
      <ion-col size="12" class="ion-text-justify">
        <ion-text class="notif-desc" [innerHtml]="inbox?.description"> </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
